<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanpangzi.mapper.business.LimuMapper">
	<select id="isSubmitLimuInfomation" resultType="boolean">
		SELECT mid from limuinfo  WHERE mid =#{lid} limit 0,1
	</select>
	<select id="getLimuInfomaiton" resultType="com.lanpangzi.pojo.LimuInfomation">
		SELECT * from limuinfo  WHERE mid =#{lid} limit 0,1
	</select>
	<insert id="insertLimuInfomation" parameterType="com.lanpangzi.pojo.LimuInfomation">
		INSERT INTO limuinfo (mid,mobile,taobao,credit)
			values(#{mid},#{mobile},#{taobao},#{credit})
	</insert>
	<select id="isHasLimuInfo" resultType="boolean">  
		SELECT lid FROM limu WHERE lid=#{uid} limit 0,1
	</select>
	
	<resultMap type="com.lanpangzi.pojo.Limu" id="limuuserInfo">
		 <id column="lid" property="lid"/>
         <result column="alitoken" property="alitoken"/>
         <result column="facetoken" property="facetoken"/>
         <result column="phonetoken" property="phonetoken"/>
         <result column="banktoken" property="banktoken"/>
         <result column="ishaspay" property="ishaspay"/>
         <result column="money" property="money"/>
		<association property="user" javaType="com.lanpangzi.pojo.Users">
         <result column="username" property="username"/>
         <result column="phone" property="phone"/>
		</association>
	</resultMap>
	<select id="getLimuAutheritcationInfo" resultMap="limuuserInfo">
		SELECT l.*,u.*   FROM limu l LEFT JOIN users u  ON u.uid=l.lid
		  WHERE   
			l.ishaspay>0 and  
			l.alitoken!='' and 
			l.phonetoken !='' and
			l.banktoken !=''  
		  	LIMIT 0,10 
	</select>
	
	<select  id="getBypagesCount" resultType="int">
		SELECT count(*) FROM limu WHERE 
			ishaspay=1 and (
			alitoken!='' or 
			facetoken !='' or
			phonetoken !='' or
			banktoken !=''  )
		  	LIMIT 0,10 
	</select>
	
	
	<update id="clearLimuTokens" >
		UPDATE limu SET 
			alitoken='',
			facetoken='',
			phonetoken='',
			banktoken=''
		 WHERE lid=#{uid}
	</update>
	
	<insert id="insertLimuToken" parameterType="com.lanpangzi.pojo.Limu">
		INSERT INTO limu 
		<trim prefix="(" suffixOverrides="," suffix=")">
			<if test="lid!=null">
				lid,
			</if>
			<if test="alitoken!=null">
				alitoken,
			</if>
			<if test="facetoken!=null">
				facetoken,
			</if>
			<if test="phonetoken!=null">
				phonetoken,
			</if>
			<if test="banktoken!=null">
				banktoken,
			</if>
			<if test="ishaspay!=null">
				ishaspay,
			</if>
			<if test="money!=null">
				money,
			</if>
		</trim>
		<trim prefix="values(" suffixOverrides="," suffix=")">
			<if test="lid!=null">
				#{lid},
			</if>
			<if test="alitoken!=null">
				#{alitoken},
			</if>
			<if test="facetoken!=null">
				#{facetoken},
			</if>
			<if test="phonetoken!=null">
				#{phonetoken},
			</if>
			<if test="banktoken!=null">
				#{banktoken},
			</if>
			<if test="ishaspay!=null">
				#{ishaspay},
			</if>
			<if test="money!=null">
				#{money},
			</if>
		</trim>
	</insert>
	<update id="updateLimuToken" parameterType="com.lanpangzi.pojo.Limu">
		UPDATE limu <set>
			<if test="alitoken!=null">
				alitoken=#{alitoken},
			</if>
			<if test="facetoken!=null">
				facetoken=#{facetoken},
			</if>
			<if test="phonetoken!=null">
				phonetoken=#{phonetoken},
			</if>
			<if test="banktoken!=null">
				banktoken=#{banktoken},
			</if>
			<if test="ishaspay!=null">
				ishaspay=#{ishaspay},
			</if>
			<if test="money!=null">
				money=#{money},
			</if>
		</set>
		WHERE lid=#{lid}
	</update>
	
	<select id="getUserMaxAmount" resultType="int">
		select money from limu where lid=#{uid} limit 0,1
	</select>
</mapper>