<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanpangzi.mapper.business2.Commodiry2Mapper">
	<!-- 查询商品详情   分布查询出各种颜色和图片 -->
	<resultMap type="com.lanpangzi.pojo.Commodiry" id="commodiryDetails">
		<id column="cid" property="cid"/>
		<result column="cname" property="cname"/>
		<result column="description" property="description"/>
		<result column="ctype" property="ctype"/>
		<result column="counts" property="counts"/>
		<result column="price" property="price"/>
	
		<association property="colors" 
			select="com.lanpangzi.mapper.business2.ColorMapper2.findAllColors" 
				column="cid" >
		</association>
	</resultMap>

	<!--   待改*****************88s -->
	<select id="findAllCommodiry" resultType="java.util.Map">
		SELECT cid,cname,ctype,price  FROM 
			commodiry WHERE tid =#{tid} ORDER BY counts DESC LIMIT 0,4 
	</select>
	<!-- 分页的十条 -->
	<select id="findCommodiryByPage" resultType="java.util.Map">
		SELECT cid,cname,ctype,price  FROM 
			commodiry WHERE tid =#{tid} ORDER BY counts DESC LIMIT #{page},10
	</select>
	
	
	<select id="findCommodiryDetails" resultMap="commodiryDetails">
		SELECT *  FROM commodiry WHERE cid=#{cid} LIMIT 0,1
	</select>
</mapper>