<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanpangzi.mapper.business2.OtherInfomationMapper">   
	<!-- 上限十条   因改动不大  不错详细清理   有需要则扩展-->
	<select id="findOtherInfoByType" resultType="com.lanpangzi.pojo.Other" >
		SELECT *FROM other WHERE types =#{types} LIMIT 0,10  
	</select>
	<insert id="insertOtherInfoById" parameterType="com.lanpangzi.pojo.Other">
		INSERT INTO other (value,types,lasttime) VALUES(#{other.value},#{other.types},#{other.lasttime})
	</insert>
	<delete id="deleteOtherInfoByType">
		DELETE FROM other WHERE types=#{types}
	</delete>
	<delete id="deleteOtherInfoById">
		DELETE FROM other WHERE otherid=#{oid}
	</delete>
	<update id="updateOtherInfoById" parameterType="com.lanpangzi.pojo.Other" >
		UPDATE other SET value=#{value} WHERE otherid=#{oid}
	</update>
</mapper>